/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a modern font and background color for the body */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: center;
}

#header-slogan {
  color: #0d66b4 !important;
}

/* Headings styles */
h1,
h2,
h3 {
  font-weight: bold;
  color: #0d66b4;
}

/* Iframe video styles */
iframe {
  max-width: 100%;
  border: none;
  margin: 20px 0;
}

/* Stock image styles */
.Stock-image {
  max-width: 100%;
  max-height: 50vh;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}

.petition-para {
  flex: 1;
  /* Occupy remaining available space */
  padding-right: 10px;
  text-align: left;
  /* Adjusted text alignment */
}

.dark-mode {
  background-color: black;
  color: white;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: pink;
}

/* Adjust the styling as needed */

.fade-in-section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-section.is-visible {
  opacity: 1;
}

.reduce-motion .fade-in-section {
  transition: none;
  /* Disable the transition */
}

/* Additional CSS rules to adjust animation properties as needed */
/* Custom CSS to remove underline from anchor tags */
.nav-item .btn a {
  color: white;
  text-decoration: none !important; /* Remove underline */
}

/* Change carousel control button colors */
.carousel-control-prev,
.carousel-control-next {
  background-color: black; /* Change the background color of the buttons to black */
  color: black; /* Change the text color of the buttons to black */
}

/* Change the color of the buttons when in dark mode */
.dark-mode .carousel-control-prev,
.dark-mode .carousel-control-next {
  background-color: white; /* Change the background color of the buttons to white in dark mode */
  color: white; /* Change the text color of the buttons to white in dark mode */
}
