/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a modern font and background color for the body */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d66b4;
  padding: 10px 20px;
}

#nav-links-container {
  display: flex;
  align-items: center;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#nav-ul li {
  margin-right: 10px;
  position: relative;
  /* Add this */
}

#nav-ul li:last-child {
  margin-right: 0;
}

#nav-ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
}

/* Add these lines to create the white vertical spacers */
#nav-ul li::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  /* Adjust the spacing as needed */
  width: 1px;
  /* Adjust the width of the spacer as needed */
  height: 100%;
  background-color: #fff;
}

#nav-ul li:last-child::after {
  display: none;
}

#nav-ul li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

#sign-now-button {
  background-color: #fff;
  color: #333;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#sign-now-button:hover {
  background-color: #333;
  color: #fff;
}

/* Navigation buttons styles */
.nav-btns .nav-button {
  background-color: #fff;
  color: #333;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-btns .nav-button:hover {
  background-color: #333;
  color: #fff;
}

/* Center the content container horizontally */
.content-container {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

/* Header styles */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.header-item:nth-of-type(1) {
  flex: 1;
}

.header-img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 3em;
}

.header-item:nth-of-type(2) {
  margin-bottom: 3em;
}

.header-item:nth-of-type(2) > h3 {
  margin-top: 2em;
  font-weight: bold;
  color: #0d66b4 !important;
  text-align: center;
}

#header-slogan {
  color: #0d66b4 !important;
}

/* About section styles */
.about-section-container {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section-container > * {
  margin-bottom: 20px;
  gap: 30px;
}

/* Headings styles */
h1,
h2,
h3 {
  font-weight: bold;
  color: #0d66b4;
}

/* Iframe video styles */
iframe {
  max-width: 100%;
  border: none;
  margin: 20px 0;
}

/* Stock image styles */
.Stock-image {
  max-width: 100%;
  max-height: 50vh;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}

/* Unordered list styles */
ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul > li {
  position: relative;
  text-align: center;
  margin: 0 0 10px;
}

ul > li::before {
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}

a:hover {
  cursor: pointer;
}

/* Peer teaching container styles */
.peer-teaching-container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

/* Peer teaching about container styles */
.peer-teaching-about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 10px;
}

/* Peer teaching about content styles */
.peer-teaching-about-content {
  flex-basis: calc(70% - 20px);
  text-align: left;
}

/* Peer teaching video container styles */
.peer-teaching-video-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

/* Peer teaching video content styles */
.peer-teaching-video-content {
  margin-top: 20px;
}

.petition {
  margin-top: 20px;
}

.petition-container {
  max-width: 75%;
  /* Set max-width to match the content on the rest of the webpage */
  margin: 0 auto;
  /* Center the container horizontally */
  margin-top: 20px;
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: flex-start;
  /* Adjusted alignment */
  text-align: center;
}

.petition-para {
  flex: 1;
  /* Occupy remaining available space */
  padding-right: 10px;
  text-align: left;
  /* Adjusted text alignment */
}

.signatures {
  flex: 1;
  /* Occupy remaining available space */
  text-align: left;
  /* Adjusted text alignment */
}

/* Footer styles */
#footer-container {
  position: static;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
}

/* Footer button styles */
#footer-container .footer-btn a {
  color: inherit;
}

#footer-container .footer-btn {
  background-color: #fff;
  color: #333;
  text-decoration: none;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Footer button hover styles */
#footer-container .footer-btn:hover {
  background-color: #333;
  color: #fff;
}

.dark-mode {
  background-color: black;
  color: white;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: pink;
}

/* Media query for screens below 1000 pixels in width */
@media screen and (max-width: 1000px) {
  body {
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
  }

  .nav-button {
    margin: 10px 0;
  }

  .header-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .header-item:nth-of-type(1) {
    margin-bottom: 10px;
  }

  .header-item:nth-of-type(2) {
    text-align: center;
    flex-wrap: none;
    margin-bottom: 10px;
  }

  #header-slogan {
    text-align: center !important;
    flex-grow: 1;
  }

  .header-img {
    order: 1;
  }

  .content-container {
    max-width: 100%;
  }

  .about-section-container {
    max-width: 85%;
  }

  .peer-teaching-container h2,
  p {
    text-align: center;
  }

  .peer-teaching-container {
    flex-direction: column;
  }

  .peer-teaching-about-container {
    margin-top: 10px;
  }

  .peer-teaching-text-container,
  .peer-teaching-video-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  }

  .peer-teaching-video-content iframe {
    max-width: 100%;
    border: none;
    margin: 20px 0;
  }

  .petition-container {
    flex-direction: column;
    justify-content: center;
  }
}

/* Adjust the styling as needed */

.fade-in-section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-section.is-visible {
  opacity: 1;
}

.reduce-motion .fade-in-section {
  transition: none;
  /* Disable the transition */
}

/* Additional CSS rules to adjust animation properties as needed */
/* Custom CSS to remove underline from anchor tags */
.nav-item .btn a {
  color: white !important; /* Set text color to white */
  text-decoration: none !important; /* Remove underline */
}

/* Change carousel control button colors */
.carousel-control-prev,
.carousel-control-next {
  background-color: black; /* Change the background color of the buttons to black */
  color: black; /* Change the text color of the buttons to black */
}

/* Change the color of the buttons when in dark mode */
.dark-mode .carousel-control-prev,
.dark-mode .carousel-control-next {
  background-color: white; /* Change the background color of the buttons to white in dark mode */
  color: white; /* Change the text color of the buttons to white in dark mode */
}
